################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataMunging/obj
/.vs/DataMunging/v16
/DataMunging.Common/obj
/DataMunging.ConsoleApp/obj
